.fit-finder-and-size-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fit-finder {
  width: 130px;
  height: 25px;
}
#fit-finder:hover {
  cursor: pointer;
}

#size-chart-logo {
  width: 40px;
  height: 35px;
  margin-left: 0.7rem;
}

.sizeChart {
  display: flex;
  align-items: center;
}
