#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#leftInfo {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#snapLogo {
  display: flex;
  align-items: center;
  width: 40%;
}

#snap {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
}

#imgLogo {
  width: 8rem;
  height: 4rem;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  font-style: 400;
  margin-left: 1.3rem;
}

#rightInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

#itemsInCart {
  font-family: sans-serif;
  font-style: 900;
  font-size: 1.2rem;
}

#cart {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 480px) {
  .categories {
    width: 55%;
  }
}

@media screen and (max-width: 480px) {
  .categories {
    width: 100%;
  }
}
